[submodule "yojimbo/yojimbo"]
	path = yojimbo/yojimbo
	url = https://github.com/icebreakersentertainment/yojimbo.git
[submodule "ice_engine/ice_engine"]
	path = ice_engine/ice_engine
	url = https://github.com/icebreakersentertainment/ice_engine.git
